  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.name %></td>
      <td><%= link_to 'Show', task %></td>
      <td>
        <a data-action="remote_modal"
           data-modal-url=<%= edit_task_path(task) %>
           data-mutates-models="tasks">
          Edit
        </a>
      </td>
      <td>
        <a data-action="remote_confirm"
           data-remote-url=<%= task_path(task) %>
           data-remote-method="delete"
           data-mutates-models="tasks">
           Destroy
         </a>
      </td>
    </tr>
  <% end %>
