<h1>Listing tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody data-remote-partial-url="<%= partial_index_tasks_path %>"
         data-model="tasks">
     <%= render partial: "tasks/tasks" %>
  </tbody>
</table>

<br>

<a data-action="remote_modal"
   data-modal-url="<%= new_task_path %>"
   data-mutates-models="tasks">
  New Task
</a>
