// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 0 20px;
}

table td, table th {
  border: 1px solid #AAA;
  padding: 5px;
}

.modal-content {
  padding: 5px 15px;
}
